// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left_content{
  background-color: #fff;
  width: 600px;
  margin-left: 25.8%;
  float: left;
}
.right_content{
  background-color:#fff;
  width:300px;
  height:500px;
  margin-left: 15px;
}
.right_top{
  background-color:#fff;
  width:300px;
  height:50px;
  margin-left:15px;
  margin-bottom: 75px;
}
.a{
  line-height: 3;
}
.min_title{
  padding-left: 2%;
  color:#8D9497;
}
.show_left_content{
  background-color: #fff;
  width: 600px;
  margin-left: 25.8%;
}
.left_comment{
  background-color: #fff;
  width: 600px;
  margin-left: 25.8%;
  margin-top: 20px;
}
.head{
  width:55px;
  height:55px;
  margin-top: 11px;
  margin-left: 11px;
}
.comment{
  width: 600px;
  height:300px;
  margin-top: 20px;
  margin-left: 26%;
  text-align: center;
}
.footer{
  background-color:#fff;
  width:800px;
  height:100px;
}